

/* login.html main */
/*
/*
/* 
/*  */
.form-container {
  background-color: #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

h2 {
  text-align: center;
}

.helper-links {
  text-align: center; /* Center the links and button */
  margin-top: 20px; /* Space from the login button */
}

.forgot-password {
  display: block; /* Make the link a block to occupy its own line */
  margin-bottom: 10px; /* Space between the forgot password and create account button */
  color: #00b8d4; /* Same as other links */
  text-decoration: none; /* Removes underline from links */
}

.forgot-password:hover {
  color: #b2f5ea; /* Hover color for link */
}



.create-account-btn {
  background-color: #00b8d4; /* Same as link color for consistency */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-account-btn:hover {
  background-color: #0097a7; /* Darker shade for hover effect */
}

/* Universal Footer */
/*
/*
/* 
/*  */
body, .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the height of the viewport */
}

footer {
  position: relative;
  margin-top: 15px;
  height: 3rem; /* Set the height of the footer */
  padding: 1.5rem;
  display: flex;
  font-family: verdana, sans-serif;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  background-color: #333333; /* Match the background color to your design */
  color: white; /* Change the text color to white*/
  font-size: 1rem; /* Set the font size*/
}