body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}	

.column {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-header {
    color: white;
}

p {
    line-height: 1.6;
text-align: center;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
}
.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.menu {
text-align: center;
}

.footer-title {
color: white;
}

.order-item {
    border: 1px solid #ddd;
    padding: 10px;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.offHeader {
    height: 20%;
}

.offbody {
    display: flex;
}

.offInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.offButtons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}