.main-header {
    color: white;
}

.menu {
    text-align: center;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.menu-column {
    display: flex;
    width: 100%;
    left: 50%;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 10px;
}

.dish-link {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}	
  
header {
    background-color: #3498db;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.6;
text-align: center;
}
